body {
    padding: 10px;
}

.card-img-top {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.listing-image {
    width: 95%;
    height: auto;
    object-fit: cover;
    border: 3px solid rgb(219, 216, 216);
    border-radius: 10px;
}

.listing-title {
    text-align: center;
}

.search{
    height: 36px;
}

.comment{
    margin-bottom: 10px;
    width: 70%;
    height: 100px;
    text-align: left;
}