/* text font and alignment*/
body
{
    font-family: arial, sans-serif;
    text-align: center;
    font-weight: normal;
}

h1
{
    font-weight: 510;
    letter-spacing: -4px;
    font-size: 100px;
}

/* Colors for google */
.blue
{
    color: #4285F4;
}

.red
{
    color: #DB4437;
}

.yellow
{
    color: #F4B400;
}

.green
{
    color: #0F9D58;
}

input[type=button], input[type=submit]
{
    background-color: #F5F5F5;
    border: none;
    color: black;
    font-weight: bold;
}

input[type=button]:hover, input[type=submit]:hover
{
    border: 1px solid #D3D3D3;
}

ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li
{
    float: right;
    display: block;
    color: grey;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}