{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia: New Page
{% endblock %}

{% block body %}
    <h1>Add new page</h1>
    <form action="{% url 'newpage' %}" method=POST>
        {% csrf_token %}
        <label>Title: </label> <input class="submit" type="text" name="new_title" placeholder="Title">
        <br/>
        <label>Content: </label>
        <br/>
        <textarea name="content" placeholder="Add Markdown here"></textarea>
        <br/>
        <input type="submit" value="New Page">
    </form>
{% endblock %}