{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

        <div class="container">
            <div class="row">
            <!--ADD CLASSES HERE d-flex align-items-stretch-->

                {% for listing in active_listings %}
                    <div class="col-12 col-md-6 col-lg-3">
                        <div class="card h-100">
                            <img class="card-img-top" src="{{ listing.image_URL }}" alt=" No Image of {{ listing.title }}">
                            <div class="card-body">
                                <h3 class="card-title">{{ listing.title }}</h3>
                                <p class="card-text">{{ listing.description }}</p>
                                <p class="card-text"> Current Bid: £{{ listing.starting_bid|floatformat:2 }}</p>
                                <a href="{% url 'listing' listing_id=listing.id %}"class="btn btn-primary">View listing</a>
                            </div>
                        </div>
                    </div>

                {% empty %}
                    <p>No active listings</p>
                {% endfor %}
            </div>    
        </div>  


{% endblock %}