{% extends "network/layout.html" %}

{% block body %}
    <h1>{{ userName }}</h1>

   <div class="follow">
        <div class="row">
            <div class="col-2">
                {{ noPosts }} posts 
            </div>
            <div class="col-2">
                {{ noFollowers }} followers
            </div>
            <div class="col-2">
                {{ noFollowing }} following
            </div>
            <div class="col-6">
                {% if user.is_authenticated %}
                    {% if currentUser != userName %}
                        {% if isFollowing == "False" %}
                            <form>
                                <button class="btn btn-success" type="submit">Follow</button>
                            </form>
                        {% else %}
                            <form>
                                <button class="btn btn-danger" type="submit">Unfollow</button>
                            </form>
                        {% endif %}
                    {% endif %}
                {% endif %}
            </div>

        </div>
   </div>

    {% for post in posts reversed %}
    <div class="container">
        <h5>{{ post.user }}</h3>
        <div class="row" id="postBoxMain">
            <div class="col-1" id="newPostBox">
                <img id="postImage" src={{ post.user.image }}>
            </div>
            <div class = "col-11">
                <p> {{ post.body }}</p>
            </div>
        
        </div>
        <div id="heart">
            <span style="color: red; font-size: 20px">&#9829;</span>
            <span style="color: rgb(73, 73, 73)">{{ post.likes }}</span>
        </div>

        <div class="row" id="date">
            {{ post.timestamp }}
        </div>
    </div>

{% endfor %}
{% endblock %}